INST "INTIAL_DELAY[0].LUT5_inst" BEL = D6LUT;
INST "INTIAL_DELAY[10].LUT5_inst1" BEL = B6LUT;
INST "INTIAL_DELAY[11].LUT5_inst1" BEL = C6LUT;
INST "INTIAL_DELAY[12].LUT5_inst1" BEL = D6LUT;
INST "INTIAL_DELAY[13].LUT5_inst1" BEL = A6LUT;
INST "INTIAL_DELAY[14].LUT5_inst1" BEL = B6LUT;
INST "INTIAL_DELAY[15].LUT5_inst1" BEL = C6LUT;
INST "INTIAL_DELAY[16].LUT5_inst1" BEL = D6LUT;
INST "INTIAL_DELAY[17].LUT5_inst1" BEL = A6LUT;
INST "INTIAL_DELAY[18].LUT5_inst1" BEL = B6LUT;
INST "INTIAL_DELAY[19].LUT5_inst1" BEL = C6LUT;
INST "INTIAL_DELAY[1].LUT5_inst1" BEL = A6LUT;
INST "INTIAL_DELAY[20].LUT5_inst1" BEL = D6LUT;
INST "INTIAL_DELAY[21].LUT5_inst1" BEL = A6LUT;
INST "INTIAL_DELAY[22].LUT5_inst1" BEL = B6LUT;
INST "INTIAL_DELAY[23].LUT5_inst1" BEL = C6LUT;
INST "INTIAL_DELAY[24].LUT5_inst1" BEL = D6LUT;
INST "INTIAL_DELAY[25].LUT5_inst1" BEL = A6LUT;
INST "INTIAL_DELAY[26].LUT5_inst1" BEL = B6LUT;
INST "INTIAL_DELAY[27].LUT5_inst1" BEL = C6LUT;
INST "INTIAL_DELAY[28].LUT5_inst1" BEL = D6LUT;
INST "INTIAL_DELAY[2].LUT5_inst1" BEL = B6LUT;
INST "INTIAL_DELAY[3].LUT5_inst1" BEL = C6LUT;
INST "INTIAL_DELAY[4].LUT5_inst1" BEL = D6LUT;
INST "INTIAL_DELAY[5].LUT5_inst1" BEL = A6LUT;
INST "INTIAL_DELAY[6].LUT5_inst1" BEL = B6LUT;
INST "INTIAL_DELAY[7].LUT5_inst1" BEL = C6LUT;
INST "INTIAL_DELAY[8].LUT5_inst1" BEL = D6LUT;
INST "INTIAL_DELAY[9].LUT5_inst1" BEL = A6LUT;
INST "out_0" BEL = AFF;
INST "out_1" BEL = BFF;
INST "out_10" BEL = CFF;
INST "out_11" BEL = DFF;
INST "out_12" BEL = AFF;
INST "out_13" BEL = BFF;
INST "out_14" BEL = CFF;
INST "out_15" BEL = DFF;
INST "out_16" BEL = AFF;
INST "out_17" BEL = BFF;
INST "out_18" BEL = CFF;
INST "out_19" BEL = DFF;
INST "out_2" BEL = CFF;
INST "out_20" BEL = AFF;
INST "out_21" BEL = BFF;
INST "out_22" BEL = CFF;
INST "out_23" BEL = DFF;
INST "out_24" BEL = AFF;
INST "out_25" BEL = BFF;
INST "out_26" BEL = CFF;
INST "out_27" BEL = DFF;
INST "out_28" BEL = AFF;
INST "out_29" BEL = BFF;
INST "out_3" BEL = DFF;
INST "out_30" BEL = CFF;
INST "out_31" BEL = DFF;
INST "out_32" BEL = AFF;
INST "out_33" BEL = BFF;
INST "out_34" BEL = CFF;
INST "out_35" BEL = DFF;
INST "out_36" BEL = AFF;
INST "out_37" BEL = BFF;
INST "out_38" BEL = CFF;
INST "out_39" BEL = DFF;
INST "out_4" BEL = AFF;
INST "out_40" BEL = AFF;
INST "out_41" BEL = BFF;
INST "out_42" BEL = CFF;
INST "out_43" BEL = DFF;
INST "out_44" BEL = AFF;
INST "out_45" BEL = BFF;
INST "out_46" BEL = CFF;
INST "out_47" BEL = DFF;
INST "out_48" BEL = AFF;
INST "out_49" BEL = BFF;
INST "out_5" BEL = BFF;
INST "out_50" BEL = CFF;
INST "out_51" BEL = DFF;
INST "out_52" BEL = AFF;
INST "out_53" BEL = BFF;
INST "out_54" BEL = CFF;
INST "out_55" BEL = DFF;
INST "out_56" BEL = AFF;
INST "out_57" BEL = BFF;
INST "out_58" BEL = CFF;
INST "out_59" BEL = DFF;
INST "out_6" BEL = CFF;
INST "out_60" BEL = AFF;
INST "out_61" BEL = BFF;
INST "out_62" BEL = CFF;
INST "out_63" BEL = DFF;
INST "out_7" BEL = DFF;
INST "out_8" BEL = AFF;
INST "out_9" BEL = BFF;
INST "out_p_0" BEL = AFF;
INST "out_p_1" BEL = BFF;
INST "out_p_10" BEL = CFF;
INST "out_p_11" BEL = DFF;
INST "out_p_12" BEL = AFF;
INST "out_p_13" BEL = BFF;
INST "out_p_14" BEL = CFF;
INST "out_p_15" BEL = DFF;
INST "out_p_16" BEL = AFF;
INST "out_p_17" BEL = BFF;
INST "out_p_18" BEL = CFF;
INST "out_p_19" BEL = DFF;
INST "out_p_2" BEL = CFF;
INST "out_p_20" BEL = AFF;
INST "out_p_21" BEL = BFF;
INST "out_p_22" BEL = CFF;
INST "out_p_23" BEL = DFF;
INST "out_p_24" BEL = AFF;
INST "out_p_25" BEL = BFF;
INST "out_p_26" BEL = CFF;
INST "out_p_27" BEL = DFF;
INST "out_p_28" BEL = AFF;
INST "out_p_29" BEL = BFF;
INST "out_p_3" BEL = DFF;
INST "out_p_30" BEL = CFF;
INST "out_p_31" BEL = DFF;
INST "out_p_32" BEL = AFF;
INST "out_p_33" BEL = BFF;
INST "out_p_34" BEL = CFF;
INST "out_p_35" BEL = DFF;
INST "out_p_36" BEL = AFF;
INST "out_p_37" BEL = BFF;
INST "out_p_38" BEL = CFF;
INST "out_p_39" BEL = DFF;
INST "out_p_4" BEL = AFF;
INST "out_p_40" BEL = AFF;
INST "out_p_41" BEL = BFF;
INST "out_p_42" BEL = CFF;
INST "out_p_43" BEL = DFF;
INST "out_p_44" BEL = AFF;
INST "out_p_45" BEL = BFF;
INST "out_p_46" BEL = CFF;
INST "out_p_47" BEL = DFF;
INST "out_p_48" BEL = AFF;
INST "out_p_49" BEL = BFF;
INST "out_p_5" BEL = BFF;
INST "out_p_50" BEL = CFF;
INST "out_p_51" BEL = DFF;
INST "out_p_52" BEL = AFF;
INST "out_p_53" BEL = BFF;
INST "out_p_54" BEL = CFF;
INST "out_p_55" BEL = DFF;
INST "out_p_56" BEL = AFF;
INST "out_p_57" BEL = BFF;
INST "out_p_58" BEL = CFF;
INST "out_p_59" BEL = DFF;
INST "out_p_6" BEL = CFF;
INST "out_p_60" BEL = AFF;
INST "out_p_61" BEL = BFF;
INST "out_p_62" BEL = CFF;
INST "out_p_63" BEL = DFF;
INST "out_p_7" BEL = DFF;
INST "out_p_8" BEL = AFF;
INST "out_p_9" BEL = BFF;

INST "CHAIN_DELAy[0].CARRY4_inst" RLOC=X5Y340 | HU_SET=USE_TDC_puset | RPM_GRID=GRID | RLOC_ORIGIN=X0Y0  ;
INST "CHAIN_DELAy[10].CARRY4_inst1" RLOC=X5Y380 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[11].CARRY4_inst1" RLOC=X5Y384 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[12].CARRY4_inst1" RLOC=X5Y388 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[13].CARRY4_inst1" RLOC=X5Y392 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[14].CARRY4_inst1" RLOC=X5Y396 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[15].CARRY4_inst1" RLOC=X5Y400 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[1].CARRY4_inst1" RLOC=X5Y344 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[2].CARRY4_inst1" RLOC=X5Y348 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[3].CARRY4_inst1" RLOC=X5Y352 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[4].CARRY4_inst1" RLOC=X5Y356 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[5].CARRY4_inst1" RLOC=X5Y360 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[6].CARRY4_inst1" RLOC=X5Y364 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[7].CARRY4_inst1" RLOC=X5Y368 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[8].CARRY4_inst1" RLOC=X5Y372 | HU_SET=USE_TDC_puset ;
INST "CHAIN_DELAy[9].CARRY4_inst1" RLOC=X5Y376 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[0].LUT5_inst" RLOC=X5Y308 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[10].LUT5_inst1" RLOC=X5Y320 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[11].LUT5_inst1" RLOC=X5Y320 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[12].LUT5_inst1" RLOC=X5Y320 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[13].LUT5_inst1" RLOC=X5Y324 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[14].LUT5_inst1" RLOC=X5Y324 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[15].LUT5_inst1" RLOC=X5Y324 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[16].LUT5_inst1" RLOC=X5Y324 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[17].LUT5_inst1" RLOC=X5Y328 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[18].LUT5_inst1" RLOC=X5Y328 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[19].LUT5_inst1" RLOC=X5Y328 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[1].LUT5_inst1" RLOC=X5Y312 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[20].LUT5_inst1" RLOC=X5Y328 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[21].LUT5_inst1" RLOC=X5Y332 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[22].LUT5_inst1" RLOC=X5Y332 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[23].LUT5_inst1" RLOC=X5Y332 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[24].LUT5_inst1" RLOC=X5Y332 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[25].LUT5_inst1" RLOC=X5Y336 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[26].LUT5_inst1" RLOC=X5Y336 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[27].LUT5_inst1" RLOC=X5Y336 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[28].LUT5_inst1" RLOC=X5Y336 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[2].LUT5_inst1" RLOC=X5Y312 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[3].LUT5_inst1" RLOC=X5Y312 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[4].LUT5_inst1" RLOC=X5Y312 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[5].LUT5_inst1" RLOC=X5Y316 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[6].LUT5_inst1" RLOC=X5Y316 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[7].LUT5_inst1" RLOC=X5Y316 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[8].LUT5_inst1" RLOC=X5Y316 | HU_SET=USE_TDC_puset ;
INST "INTIAL_DELAY[9].LUT5_inst1" RLOC=X5Y320 | HU_SET=USE_TDC_puset ;
INST "out_0" RLOC=X5Y340 | HU_SET=USE_TDC_puset ;
INST "out_1" RLOC=X5Y340 | HU_SET=USE_TDC_puset ;
INST "out_10" RLOC=X5Y348 | HU_SET=USE_TDC_puset ;
INST "out_11" RLOC=X5Y348 | HU_SET=USE_TDC_puset ;
INST "out_12" RLOC=X5Y352 | HU_SET=USE_TDC_puset ;
INST "out_13" RLOC=X5Y352 | HU_SET=USE_TDC_puset ;
INST "out_14" RLOC=X5Y352 | HU_SET=USE_TDC_puset ;
INST "out_15" RLOC=X5Y352 | HU_SET=USE_TDC_puset ;
INST "out_16" RLOC=X5Y356 | HU_SET=USE_TDC_puset ;
INST "out_17" RLOC=X5Y356 | HU_SET=USE_TDC_puset ;
INST "out_18" RLOC=X5Y356 | HU_SET=USE_TDC_puset ;
INST "out_19" RLOC=X5Y356 | HU_SET=USE_TDC_puset ;
INST "out_2" RLOC=X5Y340 | HU_SET=USE_TDC_puset ;
INST "out_20" RLOC=X5Y360 | HU_SET=USE_TDC_puset ;
INST "out_21" RLOC=X5Y360 | HU_SET=USE_TDC_puset ;
INST "out_22" RLOC=X5Y360 | HU_SET=USE_TDC_puset ;
INST "out_23" RLOC=X5Y360 | HU_SET=USE_TDC_puset ;
INST "out_24" RLOC=X5Y364 | HU_SET=USE_TDC_puset ;
INST "out_25" RLOC=X5Y364 | HU_SET=USE_TDC_puset ;
INST "out_26" RLOC=X5Y364 | HU_SET=USE_TDC_puset ;
INST "out_27" RLOC=X5Y364 | HU_SET=USE_TDC_puset ;
INST "out_28" RLOC=X5Y368 | HU_SET=USE_TDC_puset ;
INST "out_29" RLOC=X5Y368 | HU_SET=USE_TDC_puset ;
INST "out_3" RLOC=X5Y340 | HU_SET=USE_TDC_puset ;
INST "out_30" RLOC=X5Y368 | HU_SET=USE_TDC_puset ;
INST "out_31" RLOC=X5Y368 | HU_SET=USE_TDC_puset ;
INST "out_32" RLOC=X5Y372 | HU_SET=USE_TDC_puset ;
INST "out_33" RLOC=X5Y372 | HU_SET=USE_TDC_puset ;
INST "out_34" RLOC=X5Y372 | HU_SET=USE_TDC_puset ;
INST "out_35" RLOC=X5Y372 | HU_SET=USE_TDC_puset ;
INST "out_36" RLOC=X5Y376 | HU_SET=USE_TDC_puset ;
INST "out_37" RLOC=X5Y376 | HU_SET=USE_TDC_puset ;
INST "out_38" RLOC=X5Y376 | HU_SET=USE_TDC_puset ;
INST "out_39" RLOC=X5Y376 | HU_SET=USE_TDC_puset ;
INST "out_4" RLOC=X5Y344 | HU_SET=USE_TDC_puset ;
INST "out_40" RLOC=X5Y380 | HU_SET=USE_TDC_puset ;
INST "out_41" RLOC=X5Y380 | HU_SET=USE_TDC_puset ;
INST "out_42" RLOC=X5Y380 | HU_SET=USE_TDC_puset ;
INST "out_43" RLOC=X5Y380 | HU_SET=USE_TDC_puset ;
INST "out_44" RLOC=X5Y384 | HU_SET=USE_TDC_puset ;
INST "out_45" RLOC=X5Y384 | HU_SET=USE_TDC_puset ;
INST "out_46" RLOC=X5Y384 | HU_SET=USE_TDC_puset ;
INST "out_47" RLOC=X5Y384 | HU_SET=USE_TDC_puset ;
INST "out_48" RLOC=X5Y388 | HU_SET=USE_TDC_puset ;
INST "out_49" RLOC=X5Y388 | HU_SET=USE_TDC_puset ;
INST "out_5" RLOC=X5Y344 | HU_SET=USE_TDC_puset ;
INST "out_50" RLOC=X5Y388 | HU_SET=USE_TDC_puset ;
INST "out_51" RLOC=X5Y388 | HU_SET=USE_TDC_puset ;
INST "out_52" RLOC=X5Y392 | HU_SET=USE_TDC_puset ;
INST "out_53" RLOC=X5Y392 | HU_SET=USE_TDC_puset ;
INST "out_54" RLOC=X5Y392 | HU_SET=USE_TDC_puset ;
INST "out_55" RLOC=X5Y392 | HU_SET=USE_TDC_puset ;
INST "out_56" RLOC=X5Y396 | HU_SET=USE_TDC_puset ;
INST "out_57" RLOC=X5Y396 | HU_SET=USE_TDC_puset ;
INST "out_58" RLOC=X5Y396 | HU_SET=USE_TDC_puset ;
INST "out_59" RLOC=X5Y396 | HU_SET=USE_TDC_puset ;
INST "out_6" RLOC=X5Y344 | HU_SET=USE_TDC_puset ;
INST "out_60" RLOC=X5Y400 | HU_SET=USE_TDC_puset ;
INST "out_61" RLOC=X5Y400 | HU_SET=USE_TDC_puset ;
INST "out_62" RLOC=X5Y400 | HU_SET=USE_TDC_puset ;
INST "out_63" RLOC=X5Y400 | HU_SET=USE_TDC_puset ;
INST "out_7" RLOC=X5Y344 | HU_SET=USE_TDC_puset ;
INST "out_8" RLOC=X5Y348 | HU_SET=USE_TDC_puset ;
INST "out_9" RLOC=X5Y348 | HU_SET=USE_TDC_puset ;
INST "out_p_0" RLOC=X7Y340 | HU_SET=USE_TDC_puset ;
INST "out_p_1" RLOC=X7Y340 | HU_SET=USE_TDC_puset ;
INST "out_p_10" RLOC=X7Y348 | HU_SET=USE_TDC_puset ;
INST "out_p_11" RLOC=X7Y348 | HU_SET=USE_TDC_puset ;
INST "out_p_12" RLOC=X7Y352 | HU_SET=USE_TDC_puset ;
INST "out_p_13" RLOC=X7Y352 | HU_SET=USE_TDC_puset ;
INST "out_p_14" RLOC=X7Y352 | HU_SET=USE_TDC_puset ;
INST "out_p_15" RLOC=X7Y352 | HU_SET=USE_TDC_puset ;
INST "out_p_16" RLOC=X7Y356 | HU_SET=USE_TDC_puset ;
INST "out_p_17" RLOC=X7Y356 | HU_SET=USE_TDC_puset ;
INST "out_p_18" RLOC=X7Y356 | HU_SET=USE_TDC_puset ;
INST "out_p_19" RLOC=X7Y356 | HU_SET=USE_TDC_puset ;
INST "out_p_2" RLOC=X7Y340 | HU_SET=USE_TDC_puset ;
INST "out_p_20" RLOC=X7Y360 | HU_SET=USE_TDC_puset ;
INST "out_p_21" RLOC=X7Y360 | HU_SET=USE_TDC_puset ;
INST "out_p_22" RLOC=X7Y360 | HU_SET=USE_TDC_puset ;
INST "out_p_23" RLOC=X7Y360 | HU_SET=USE_TDC_puset ;
INST "out_p_24" RLOC=X7Y364 | HU_SET=USE_TDC_puset ;
INST "out_p_25" RLOC=X7Y364 | HU_SET=USE_TDC_puset ;
INST "out_p_26" RLOC=X7Y364 | HU_SET=USE_TDC_puset ;
INST "out_p_27" RLOC=X7Y364 | HU_SET=USE_TDC_puset ;
INST "out_p_28" RLOC=X7Y368 | HU_SET=USE_TDC_puset ;
INST "out_p_29" RLOC=X7Y368 | HU_SET=USE_TDC_puset ;
INST "out_p_3" RLOC=X7Y340 | HU_SET=USE_TDC_puset ;
INST "out_p_30" RLOC=X7Y368 | HU_SET=USE_TDC_puset ;
INST "out_p_31" RLOC=X7Y368 | HU_SET=USE_TDC_puset ;
INST "out_p_32" RLOC=X7Y372 | HU_SET=USE_TDC_puset ;
INST "out_p_33" RLOC=X7Y372 | HU_SET=USE_TDC_puset ;
INST "out_p_34" RLOC=X7Y372 | HU_SET=USE_TDC_puset ;
INST "out_p_35" RLOC=X7Y372 | HU_SET=USE_TDC_puset ;
INST "out_p_36" RLOC=X7Y376 | HU_SET=USE_TDC_puset ;
INST "out_p_37" RLOC=X7Y376 | HU_SET=USE_TDC_puset ;
INST "out_p_38" RLOC=X7Y376 | HU_SET=USE_TDC_puset ;
INST "out_p_39" RLOC=X7Y376 | HU_SET=USE_TDC_puset ;
INST "out_p_4" RLOC=X7Y344 | HU_SET=USE_TDC_puset ;
INST "out_p_40" RLOC=X7Y380 | HU_SET=USE_TDC_puset ;
INST "out_p_41" RLOC=X7Y380 | HU_SET=USE_TDC_puset ;
INST "out_p_42" RLOC=X7Y380 | HU_SET=USE_TDC_puset ;
INST "out_p_43" RLOC=X7Y380 | HU_SET=USE_TDC_puset ;
INST "out_p_44" RLOC=X7Y384 | HU_SET=USE_TDC_puset ;
INST "out_p_45" RLOC=X7Y384 | HU_SET=USE_TDC_puset ;
INST "out_p_46" RLOC=X7Y384 | HU_SET=USE_TDC_puset ;
INST "out_p_47" RLOC=X7Y384 | HU_SET=USE_TDC_puset ;
INST "out_p_48" RLOC=X7Y388 | HU_SET=USE_TDC_puset ;
INST "out_p_49" RLOC=X7Y388 | HU_SET=USE_TDC_puset ;
INST "out_p_5" RLOC=X7Y344 | HU_SET=USE_TDC_puset ;
INST "out_p_50" RLOC=X7Y388 | HU_SET=USE_TDC_puset ;
INST "out_p_51" RLOC=X7Y388 | HU_SET=USE_TDC_puset ;
INST "out_p_52" RLOC=X7Y392 | HU_SET=USE_TDC_puset ;
INST "out_p_53" RLOC=X7Y392 | HU_SET=USE_TDC_puset ;
INST "out_p_54" RLOC=X7Y392 | HU_SET=USE_TDC_puset ;
INST "out_p_55" RLOC=X7Y392 | HU_SET=USE_TDC_puset ;
INST "out_p_56" RLOC=X7Y396 | HU_SET=USE_TDC_puset ;
INST "out_p_57" RLOC=X7Y396 | HU_SET=USE_TDC_puset ;
INST "out_p_58" RLOC=X7Y396 | HU_SET=USE_TDC_puset ;
INST "out_p_59" RLOC=X7Y396 | HU_SET=USE_TDC_puset ;
INST "out_p_6" RLOC=X7Y344 | HU_SET=USE_TDC_puset ;
INST "out_p_60" RLOC=X7Y400 | HU_SET=USE_TDC_puset ;
INST "out_p_61" RLOC=X7Y400 | HU_SET=USE_TDC_puset ;
INST "out_p_62" RLOC=X7Y400 | HU_SET=USE_TDC_puset ;
INST "out_p_63" RLOC=X7Y400 | HU_SET=USE_TDC_puset ;
INST "out_p_7" RLOC=X7Y344 | HU_SET=USE_TDC_puset ;
INST "out_p_8" RLOC=X7Y348 | HU_SET=USE_TDC_puset ;
INST "out_p_9" RLOC=X7Y348 | HU_SET=USE_TDC_puset ;
